{% extends "head.html" %}
{% block content %}

    

    <h1>Nyheter</h1>
    <div class="blog-post">
        <div class="blog-grid">
            <div style="margin:10%;">
                <h3 class="blog-title" >Webbsida</h3>
                <p class="blog-text">Välkommen till min nya hemsida, här kan du hitta olika projekt som jag har byggt själv eller tilsammans med andra</p>
            </div>
            <div class="blog-image">
                <img class="blog-image-size" src="{{ url_for('static', filename='images/me-small-333x458.JPG') }}">
            </div>
        </div>
    </div>
    

{% endblock content %}