{% extends "head.html" %}
{% block content %}

    <h1>Nyheter</h1>
    {% for post in blog %}
        <div class="blog-post" style="background-color: {{ post[1] }};">
            <div class="blog-grid">
                <div class="blog-cell">
                    <h3 class="blog-title" >{{ post[2] }}</h3>
                    <hr class="blog-line">
                    <p class="blog-text">{{ post[3] }}</p>
                </div>
                <div class="blog-image">
                    <img class="blog-image-size" src="{{ post[5] }}" alt="{{ post[6] }}">
                </div>
            </div>
        </div>
    {% endfor %}
    

{% endblock content %}