{% extends "head.html" %}
{% block content %}

    <h2>Projekt</h2>
    <p class="descriptiv-text" >
        Här är olika projekt som jag har jobbat på. <br>
        Klicka på dem för att gå till deras projektsida.
    </p>

    
    <div class="grid-3xn" >
    {% for project in projects %}  
        
        <a href=""  style="background-color: {{ project[1] }};" class="grid-href">
            <div class="grid-box">
                <p class="grid-box-text-over">{{ project[2] }}</p>
                <p class="grid-box-text-under">{{ project[3] }}</p>
            </div>
        </a>
    {% endfor %}
    </div>

{% endblock content %}

